.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: opacity 0.4s;
}

.section_blurred {
  opacity: 0.4;
  cursor: progress;
}

.infoBox {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoText {
  margin: auto;
}
